*,
*:before,
*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html, body{font-size:100%;width:100%;height:100%;}
img, object,
embed{max-width:100%;height:auto;}
object, embed{height:100%;}
img{-ms-interpolation-mode:bicubic;}
.google_map img{max-width:inherit;height:auto;}
.left{float:left !important;}
.right{float:right !important;}
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after{content:" ";display:table;}
.clearfix:after, .clear{clear:both;}
legend{color:#a1a2a6;padding-bottom:10px;margin:10px 0}
.text-left{text-align:left !important;}
.text-right{text-align:right !important;}
.text-center{text-align:center !important;}
.text-justify{text-align:justify !important;}
.text-overflow{overflow:hidden !important;}
.letterspace{letter-spacing:2px;}
.letterspace17{letter-spacing:17px;}
.img-left,
.alignleft{float:left;border:none;margin:3px 16px 11px 0;}
.img-right,
.alignright{float:right;border:none;margin:3px 0 11px 16px;}
.img-center,
.aligncenter{display:block;margin:5px auto 11px;}
.img-border{border:1px solid #e0e0e0;background-color:#fff;padding:5px;}
.img-border2{border:1px solid #ddd;padding:4px;}
.size12{font-size:12px !important}
.size14{font-size:14px !important}
.size18{font-size:18px !important}
.size20{font-size:20px !important}
.size24{font-size:24px !important}
.size25{font-size:25px !important}
.size28{font-size:28px !important}
.size34{font-size:34px !important;line-height:40px}
.size35{font-size:35px !important;line-height:40px}
.size48{font-size:48px !important;line-height:50px}
.size50{font-size:50px !important;line-height:55px !important}
.bold{font-weight:700;}
.normal{font-weight:400;}
.border-bottom{border-bottom:solid 1px #eee;padding-bottom:9px;}
.withline{font-size:35px;font-weight:700;}
.withline:after{content:'';width:95px;display:block;margin:6px auto 0 auto;height:7px;background:#292929;}
.normal-heading{margin:0 auto;margin-top:0;margin-bottom:0;}
.mar-top-0{margin-top:0px;}
.mar-top-5{margin-top:5px;}
.mar-top-10{margin-top:10px;}
.mar-top-20{margin-top:20px;}
.mar-right-10{margin-right:10px;}
.mar-left-10{margin-left:10px;}
.mar-btm-0{margin-bottom:0;}
.mar-btm-10{margin-bottom:10px;}
.mar-btm-20{margin-bottom:20px;}
.no-mar-right{margin-right:0 !important;}
.no-pad-right{padding-right:15px;}
@media (min-width:768px){.no-pad-right{padding-right:0;}
}
.no-pad-left{padding-left:15px;}
@media (min-width:768px){.no-pad-left{padding-left:0;}
}
.pad-top-10{padding-top:10px;}
.pad-btm-10{padding-bottom:10px;}
.img-cake-center{display:block;margin:0 auto;}
@media (max-width:768px){.img-cake-center-res{display:block;margin:0 auto;}
}
.img-full-size{width:100%;}
.modal-content{border-radius:0;}
ul{list-style:none;padding:0;margin:0 0 0 0;}
a{color:#0090CF;}
a:hover{color:#4c4b4b;}
a:hover,
a:focus,
a:active{outline:none;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important;}
hr{border-top:2px #d6d6d6 solid;clear:both;}
table{}
table td, table th{padding:8px;background:transparent}
table tr:nth-child(even){background:#f5f5f5}
table tr:nth-child(odd){background:transparent}
table td a, table th a{color:#a1a2a6}
dt{margin-top:15px;}
dd{margin-top:5px;}
.pull-top-header{margin-top:81px;}
.normal-heading{padding:0 !important;margin:0 !important;}
.pad-top-0i{padding-top:0 !important;}
.mar-both-0{margin-left:0;margin-right:0;}
.center-hr{height:2px;background-color:#292929;margin-top:20px;margin-bottom:20px;}
.text-uppercase{text-transform:uppercase;}
.btn-cake{text-transform:uppercase;border:none;}
.btn-cake:focus,
.btn-cake:active,
.btn-cake.active{background-image:none;outline:0;-webkit-box-shadow:none;box-shadow:none;}
.btn-cake.btn-black-square{background-color:#292929;color:#ffffff;font-family:'Montserrat', sans-serif;font-weight:400;padding:10px 15px;letter-spacing:1px;border:solid 1px #ffffff;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.btn-cake.btn-black-square:hover{background-color:#ffffff;color:#292929;border:solid 1px #292929;}
.btn-cake.btn-green-square{background-color:#90e3aa;color:#ffffff;font-family:'Montserrat', sans-serif;font-weight:400;padding:10px 15px;letter-spacing:1px;border:solid 1px #ffffff;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
.btn-cake.btn-green-square:hover{background-color:#3fce6c;color:#ffffff;}
.btn-cake.btn-cake-yellow{background-color:#f4cd59;color:#ffffff;padding:15px 30px;font-size:15px;-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
@media (min-width:992px){.btn-cake.btn-cake-yellow{font-size:20px;}
}
.btn-cake.btn-cake-yellow:hover{background-color:#f1bf29;color:#ffffff;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.btn-cake-full{width:100%;}
.icon-bar{background-color:#292929;}
.btn-default-cake{border:solid 1px #292929;box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background-color:#ffffff;}
.caret-cake{right:10px;top:10px;position:absolute;border-top:7px solid;border-right:7px solid transparent;border-left:7px solid transparent;}
.font-md{font-size:20px;}
.form-cake{font-family:'Montserrat', sans-serif;font-weight:400;border:solid 1px #fff;font-style:italic;color:#292929;box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;padding:20px 10px;}
.form-cake:focus{box-shadow:none;border:solid 1px #fff;}
.form-default-cake{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;box-shadow:none;}
.form-default-cake:focus{box-shadow:none;}