*.log
wp-snapshots
backup
wp-content/uploads
wp-content/cache
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-snapshots
wp-content/plugins/elfsight-instagram-feed-cc/api

.settings
.env
.buildpath
.project
.htaccess
.gitconfig
dataAddress/test.log
wp-content/uploads/wc-logs
wp-content/db.php
pull.php
commit.php
deploy.php
