/* CSS Document */
.row-custom_order_msgplate {
    margin-top: 30px;
}
#access-con .bg-shop-img {
	background: url(images/bg_ac.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}
.question-form ul.list-type li {
    margin-left: 0;
}
#omc-form .question-form ul.list-type li:first-child {
	padding-left: 0;
}

#howOrder .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

#howOrder .row:before, #howOrder .row:after {
    content: none;
}

#howOrder .row .cdcolumn {
    float: none;
}
#omc-form .steps > .step:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
#omc-form .steps > .step {
    width: 36.333%;
}
#omc-form .steps > .step.second {
    left: 33.333%;
}
#omc-form .steps > .step.third {
    left: 66.666%;
}
.mainmenu {
    float: none !important;
}
.logo_brand {
    display: block;
	-webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
}
.nav_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.nav-container .nav_main {
    max-width: 100%;
}
.navbar.open {
    height: 100%;
}
.mainmenu > .menu-item {
    float: none;
}
.mainmenu .menu-item span, .mb-navigation .menu-item span {
    display: block;
}
.mb-navigation .menu-item span {
	line-height: 1;
}
.mainmenu .menu-item .menu-item-desc, .mb-navigation .menu-item .menu-item-desc {
	margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Roboto", 'Noto Sans Japanese', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif !important;
}
.navbar.scroll .sub_head {
    /*display: none;*/
}
.banner-parallax .carousel-control {
    display: none;
}
.parallax-text .herobox p {
    color: inherit;
    line-height: 1.8;
	margin-bottom: 30px;
}
.logo_brand {
    position: relative;
	width: 100px;
}
.logobrand_img {
    position: absolute;
    width: 100%;
	max-width: 120px;
}
.mid_content {
    max-width: 540px;
    margin: 0 auto;
}
.card_item figcaption span {
    font-size: 12px;
    line-height: 1.6;
}
.cards_box h2 {
	margin-top: 20px;
    font-family: 'christmas_time_personal_useRg';
    text-transform: inherit;
    font-weight: normal;
    font-size: 60px;
}
.card_block p {
    margin-top: 20px;
}
.card_block .subt.jp {
    letter-spacing: 0.2em;
}
.card_block .card_block_text p {
    margin-left: auto;
    margin-right: auto;
    max-width: 440px;
}
.card_block .link_block {
	margin-top: 30px;
}
.minimal_link {
    font-size: 12px;
    letter-spacing: 0.15em;
	position: relative;
    display: inline-block;
}
.minimal_link:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #3a4543;
    display: block;
	position: absolute;
    left: 50%;
	transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1) 0.2s;
    transform: translateX(-50%) scaleX(1);
	
}
.minimal_link:hover:after {
	transform: translateX(-50%) scaleX(0);
    transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1);
}
body.home #content-wrapper {
    padding: 0;
}
#howOrder h3 {
    line-height: 1.4 !important;
}
#howOrder {
    background: #fafafa;
}
#howOrder .color-dots {
    margin-bottom: 30px;
}
#latestNews {
	background: #fafafa;
}
#latestNews h3 {
    font-family: 'bebas_neuebold';
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 35px;
}
#insta {
    padding-top: 0;
	padding-bottom: 0;
}
.tel_info {
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    color: #000;
	font-size: 16px;
}
.tel_info .tel_hour {
    color: #222;
    padding-left: 10px;
    display: inline-block;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Roboto", 'Noto Sans Japanese', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif !important;
}
.sub_head {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	-webkit-justify-content: space-between;
  justify-content: space-between;
	-webkit-align-items: center;
  align-items: center;
}
.sub_head .sub_left, .sub_head .sub_right {
	float: none;
}
.hero-title {
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-family: 'bebas_neuebold';
    font-weight: normal;
    font-size: 52px;
}
.logobrand_img {
    text-align: center;
}
.scroll .logobrand_img img {
	display: none;
}
.scroll .logobrand_img:before {
    content: "\e9bd";
    font-size: 90px;
    color: rgba(248,187,214,1);
    font-family: 'linericon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.scroll .logobrand_img {
    background: #FFF;
	bottom: 0;
}
.cards_box {
	margin-bottom: 0;
}
.card_item figcaption {
    position: absolute;
    bottom: 0;
    padding: 30px;
    left: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    transition: transform 0.3s cubic-bezier(0.28, 0, 0.18, 1),opacity 0.3s cubic-bezier(0.28, 0, 0.18, 1),bottom 0.3s cubic-bezier(0.28, 0, 0.18, 1);
}
figure.card_item p {
    font-family: 'bebas_neuebold';
    font-weight: normal;
    font-size: 20px;
    margin: 6px 0;
    line-height: 1.2;
}
.card_item .price_label {
    font-family: 'bebas_neue_regularregular';
    font-size: 16px;
}
figure.card_item span {
    display: block;
    line-height: 1;
}
figure.card_item span.desc {
    margin-top: 6px;
	line-height: 1.2;
}
figure.card_item {
    position: relative;
    overflow: hidden;
}
.card_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.card_item .minimal_link {
    margin-top: 10px;
    display: inline-block;
}
.card_item img {
    transform: scale(1);
    transition: transform .6s cubic-bezier(0.28, 0, 0.18, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
}

.card_item:hover img, .card_item:hover img:focus {
    transform: scale(1.05);
}
.btn_style01 {
    color: #FFF;
    background: rgba(216,147,175,1);
    font-size: 13px;
}
.btn_style01:hover,.btn_style01:focus {
	background: rgba(233,184,203,1);
}
section.cakeorder .card_block_text {
    text-align: center;
	}
@media (min-width: 768px) {
	#latestNews .getPost {
    margin-bottom: 60px;
	}
	.cards_box {
    padding: 90px 60px 0;
    position: relative;
	margin: 0;
	}
	.cakeorder {
		padding-bottom: 90px;
	}
	#howOrder {
    background: #fafafa;
    padding-bottom: 90px;
	}
	
	.card_block_images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	}

.card_block_images .card_item_column {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 20px;
}
	.card_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	-webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.card_block > .card_block_text {
     -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
	.card_block > .card_block_images {
    width: 57%;
	}
	.navbar .container {
		width: 100%;
		max-width: 1170px;
	}
	.logo_brand {
    width: 160px;
	padding: 0 20px;
	}
	.mainmenu {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
	}
	.mainmenu li {
	text-align: center;
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
	}
	.nav-container {
    height: auto;
	}
	ul.cake-print.text-radio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	}
	ul.cake-print.text-radio > li {
	float: none;
    margin: 0;
    display: block;
	}
	ul.cake-print.text-radio > li:not(:first-child) {
    padding-left: 30px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
	}
	ul.cake-print.text-radio > li:first-child {
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
    width: 72px;
	}
}
@media (max-width: 1024px) {
	.card_block > .card_block_text, .card_block > .card_block_images {
		width: 100%;
	}
	.cards_box {
		padding: 60px 0;
	}
	.card_block_images .card_item_column {
		padding: 0 30px;
	}
	section.cakeorder .card_block_text {
		margin-top: 60px;
		padding: 0 30px;
	}
	.mid_card_box {
    padding: 60px 30px;
	}
	.mid_card_box .box_contain {
    margin: 0 auto;
    max-width: 580px;
	}
	.col-sm-3.cdocolumn.order_points {
    margin-top: 60px;
	}
	.col-sm-3.cdocolumn.order_points:nth-child(odd) {
    padding-right: 15px;
	}
	.col-sm-3.cdocolumn.order_points:nth-child(even) {
		padding-left: 15px;
	}
	#insta {
    padding-top: 30px;
    padding-bottom: 30px;
	}
	
}
@media only screen and (max-width: 991px) {
	.logo_brand.hidden-sm {
    display: none;
	}
	ul.mb-navigation li {
    border-bottom: 1px solid #e5e5e5;
	}
	ul.mb-navigation li:first-child {
		padding-top: 0;
	}
	ul.mb-navigation li a {
	padding: 1.45em 1.25rem;
	}
	.Header-navItemUser {
    margin-top: 0;
    border-top: none;
	}
	.float_contact {
    position: fixed;
    top: 676px;
    right: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	}
	.float_contact .round_icon_link {
	 margin-left: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(216,147,175,1);
    display: block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #FFF;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	
}
@media only screen and (max-width: 991px) and (min-width: 480px) {
	.col-sm-3.cdocolumn.order_points {
    margin-bottom: 0px;
    width: 33.333%;
    float: none;
	}
}
@media (max-width: 767px) {
	.xs-hide {
		display: none !important;
	}
	.card_block_images > div:not(:last-child) {
    margin-bottom: 30px;
	}
	.col-sm-3.cdocolumn.order_points .border-ppink.point_inner:before {
		background: rgba(233,184,203,1);
	}
	.col-sm-3.cdocolumn.order_points .border-pylw.point_inner:before {
		background: rgba(244,229,112,1);
	}
	.col-sm-3.cdocolumn.order_points .border-pgrn.point_inner:before {
		background: rgba(207,225,174,1);
	}
	
}
@media (max-width: 479px) {
	.banner-parallax .parallax-image {
    background-position: 79% top !important;
	}
	.carousel-indicators {
    display: none !important;
	}
	.cards_box h2 {
		font-size: 42px;
	}
	.col-sm-3.cdocolumn.order_points {
    width: 100%;
	}
	.col-sm-3.cdocolumn.order_points:nth-child(1), .col-sm-3.cdocolumn.order_points:nth-child(2) {
    margin-bottom: 0px;
	}
	.herobox {
    text-align: center;
    top: auto !important;
    left: auto !important;
    bottom: 60px;
    right: auto !important;
    width: calc(100% - 40px);
    padding: 30px;
    transform: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: visible;
    background: rgba(245,245,245,.8);
    position: absolute;
    max-width: 460px;
    margin: 0px auto;
	}
	.hero-title {
		font-size: 28px;
	}
	.cake-slideshow .parallax-text .parallax-table, .cake-slideshow .parallax-text .parallax-table .parallax-center {
    display: block;
    height: 100%;
	}
	.cake-slideshow .banner-parallax .container, .cake-slideshow .banner-parallax .container .row, .cake-slideshow .banner-parallax .container .row > div {
    height: 100%;
	}

}