/* CSS Document */
.woocommerce div.product form.cart .fpf-fields label.checkbox {
	font-weight: 400;
	display: inline-block;
    margin: 0;
}
.fpf-fields {
    margin: 20px 0;
    padding: 1.75rem;
    background: rgba(233,184,203,.1);
}
.fpf-fields:after {
    content: '';
    display: table;
    clear: both;
}
h4.heading-form .helper_text {
    font-weight: bold;
    font-size: 12px;
    display: block;
    padding-top: 5px;
}
span.red {
	color: red !important;
}
.question-form .row .row {
    margin-bottom: 0;
}
.text_helper {
    font-size: 12px;
    line-height: 1.4;
    display: block;
    margin-top: 10px;
}
.footer-payment-logo-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-payment-logo-list .paylogo_img {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.row-custom_order_msgplate {
    margin-top: 30px;
}
#access-con .bg-shop-img {
	background: url(images/bg_ac.jpg);
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
}
.question-form ul.list-type li {
    margin-left: 0;
}
#omc-form .question-form ul.list-type li:first-child {
	padding-left: 0;
}

#howOrder .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

#howOrder .row:before, #howOrder .row:after {
    content: none;
}

#howOrder .row .cdcolumn {
    float: none;
}
#omc-form .steps > .step:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
#omc-form .steps > .step {
    width: 36.333%;
}
#omc-form .steps > .step.second {
    left: 33.333%;
}
#omc-form .steps > .step.third {
    left: 66.666%;
}
.mainmenu {
    float: none !important;
}
.logo_brand {
    display: block;
	-webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
}
.nav_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.nav-container .nav_main {
    max-width: 100%;
}
.navbar.open {
    height: 100%;
}
.mainmenu > .menu-item {
    float: none;
}
.mainmenu .menu-item span, .mb-navigation .menu-item span {
    display: block;
}
.mb-navigation .menu-item span {
	line-height: 1;
}
.mainmenu .menu-item .menu-item-desc, .mb-navigation .menu-item .menu-item-desc {
	margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Roboto", 'Noto Sans Japanese', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif !important;
}
.navbar.scroll .sub_head {
    /*display: none;*/
}
.banner-parallax .carousel-control {
    display: none;
}
.parallax-text .herobox p {
    color: inherit;
    line-height: 1.8;
	margin-bottom: 30px;
}
.logo_brand {
    position: relative;
	width: 100px;
}
.logobrand_img {
    position: absolute;
    width: 100%;
	max-width: 120px;
}
.mid_content {
    max-width: 540px;
    margin: 0 auto;
}
.card_item figcaption span {
    font-size: 12px;
    line-height: 1.6;
}
.cards_box h2 {
	margin-top: 20px;
    font-family: 'christmas_time_personal_useRg';
    text-transform: inherit;
    font-weight: normal;
    font-size: 60px;
}
.card_block p {
    margin-top: 20px;
}
.card_block .subt.jp {
    letter-spacing: 0.2em;
}
.card_block .card_block_text p {
    margin-left: auto;
    margin-right: auto;
    max-width: 440px;
}
.card_block .link_block {
	margin-top: 30px;
}
.minimal_link {
    font-size: 12px;
    letter-spacing: 0.15em;
	position: relative;
    display: inline-block;
}
.minimal_link:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #3a4543;
    display: block;
	position: absolute;
    left: 50%;
	transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1) 0.2s;
    transform: translateX(-50%) scaleX(1);
	
}
.minimal_link:hover:after {
	transform: translateX(-50%) scaleX(0);
    transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1);
}
body.home #content-wrapper {
    padding: 0;
}
#howOrder h3 {
    line-height: 1.4 !important;
}
#howOrder {
    background: #fafafa;
}
#howOrder .color-dots {
    margin-bottom: 30px;
}
#latestNews {
	background: #fafafa;
}
#latestNews h3 {
    font-family: 'bebas_neuebold';
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 35px;
}
#insta {
    padding-top: 0;
	padding-bottom: 0;
}
.tel_info {
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    display: block;
    color: #000;
	font-size: 16px;
}
.tel_info .tel_hour {
    color: #222;
    padding-left: 10px;
    display: inline-block;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Roboto", 'Noto Sans Japanese', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif !important;
}
.sub_head {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	-webkit-justify-content: space-between;
  justify-content: space-between;
	-webkit-align-items: center;
  align-items: center;
}
.sub_head .sub_left, .sub_head .sub_right {
	float: none;
}
.hero-title {
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-family: 'bebas_neuebold';
    font-weight: normal;
    font-size: 52px;
}
.logobrand_img {
    text-align: center;
}
.scroll .logobrand_img img {
	display: none;
}
.scroll .logobrand_img:before {
    content: "\e9bd";
    font-size: 90px;
    color: rgba(248,187,214,1);
    font-family: 'linericon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.scroll .logobrand_img {
    background: #FFF;
	bottom: 0;
}
.cards_box {
	margin-bottom: 0;
}
.card_item figcaption {
    position: absolute;
    bottom: 0;
    padding: 30px;
    left: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    transition: transform 0.3s cubic-bezier(0.28, 0, 0.18, 1),opacity 0.3s cubic-bezier(0.28, 0, 0.18, 1),bottom 0.3s cubic-bezier(0.28, 0, 0.18, 1);
}
figure.card_item p {
    font-family: 'bebas_neuebold';
    font-weight: normal;
    font-size: 20px;
    margin: 6px 0;
    line-height: 1.2;
}
.card_item .price_label {
    font-family: 'bebas_neue_regularregular';
    font-size: 16px;
}
figure.card_item span {
    display: block;
    line-height: 1;
}
figure.card_item span.desc {
    margin-top: 10px;
	margin-bottom: 20px;
	line-height: 1.2;
}
figure.card_item span.del {
	margin-top: 6px;
	margin-bottom: 0px;
}
figure.card_item span.del > span {
	display: inline-block;
}
.label_inline {
    background: #000;
    color: #FFF;
    padding: 5px 10px;
    font-weight: bold;
    line-height: 1;
}
.label_pink {
    background: rgba(225,120,152,1);
}
.label_blue {
    background: rgba(94,166,201,1);
}
span.del small {
	font-weight: bold;
}
.pinkcap span.del small {
	color: rgba(225,120,152,1);
}
.bluecap span.del small {
	color: rgba(94,166,201,1);
}
figure.card_item {
    position: relative;
}
.card_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.card_item .minimal_link {
    margin-top: 10px;
    display: inline-block;
}
.card_item img {
    transform: scale(1);
    transition: transform .6s cubic-bezier(0.28, 0, 0.18, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
}

.card_item:hover img, .card_item:hover img:focus {
    transform: scale(1.05);
}
.card_item .round_link {
    font-size: 12px;
    font-weight: bold;
    background: #000;
    color: #FFF;
    display: inline-block;
    width: 68px;
    height: 68px;
    line-height: 68px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: -30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.btn_style01 {
    color: #FFF;
    background: rgba(216,147,175,1);
    font-size: 13px;
}
.btn_style01:hover,.btn_style01:focus {
	background: rgba(233,184,203,1);
}
section.cakeorder .card_block_text {
    text-align: center;
	}
.dropdown {
    display: inline-block;
}
.col-sm-4 .dropdown {
    display: block;
}
.block_textarea, .m-input__radio .dropdown {
    display: block;
	margin-top: 10px;
}
.m-input__radio {
    max-width: 160px;
}
.form-fields label.label {
	line-height: 24px;
}
.form-fields label.label.required:after {
    content: "必須";
    font-size: 12px;
    font-weight: bold;
    background: rgba(216,147,175,1);
    color: #FFF;
    padding: 0px 5px;
    line-height: 18px;
    display: inline-block;
    margin-left: 5px;
    border-radius: 3px;
}
.question-form > .row > .field > .label:before {
    font-size: 12px;
    font-weight: 600;
    font-family: Montserrat;
    background: #000;
    color: #FFF;
    width: 18px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.question-form > .row:first-child > .field > .label:before {
    content: "1";
}
.question-form > .row:nth-child(2) > .field > .label:before {
    content: "2";
}
.question-form > .row:nth-child(3) > .field > .label:before {
    content: "3";
}
.question-form > .row:nth-child(4) > .field > .label:before {
    content: "4";
}
.question-form > .row:nth-child(5) > .field > .label:before {
    content: "5";
}
.question-form > .row:nth-child(6) > .field > .label:before {
    content: "6";
}
.question-form > .row:nth-child(7) > .field > .label:before {
    content: "7";
}
.question-form > .row:nth-child(8) > .field > .label:before {
    content: "8";
}
.question-form > .row:nth-child(9) > .field > .label:before {
    content: "9";
}
/*Form*/
ul.round-icon-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
ul.round-icon-select:after {
	content: none;
}
ul.round-icon-select.col_5 li.m-input__radio {
	float: none;
	display: block;
}
ul.list-type {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul.list-type:after, ul.type-cake.c-list_3Column:after {
    content: none;
}
ul.list-type li {
	float: none;
	display: block;
}
.suboption_box ul.row:before {
    content: none;
}
.sub_form ul.text-radio.list-type.row {
    display: block;
	flex-direction: row;
}
.sub_form .list-type .m-input__radio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: 1 1 auto;
    max-width: 100%;
}
ul.cake-print.text-radio > li:not(:first-child) {
    padding-left: 30px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
	max-width: 100%;
}
ul.cake-print.text-radio > li:first-child {
    -webkit-box-flex: 0!important;
    -webkit-flex: none!important;
    -ms-flex: none!important;
    flex: none!important;
    width: 75px;
}
.list_full_radio {
    max-width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.dropdown:after {
    color: #a7abad;
    content: "\e903";
    font-family: 'icomoon01' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    pointer-events: none;
    right: 0.75em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.modal-custom .woocommerce-Button.button.skip-authenticate-btn {
    background: #FFF;
    color: rgba(233,159,188,1);
    width: 100%;
}
.modal-custom .woocommerce-Button.button.skip-authenticate-btn:hover, .modal-custom .woocommerce-Button.button.skip-authenticate-btn:focus {
    background: rgba(233,159,188,1);
    color: #FFF;
}
/*Selector*/
.woocommerce div.product form.cart .extra-options .select-style select {
    padding: 0 40px 0 15px;
    margin: 0;
    font-size: 16px;
    color: #303030;
    height: 100%;
    width: 130%;
    border: none;
    cursor: pointer;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.woocommerce div.product form.cart .extra-options .select-style {
	position: relative;
    font-size: 16px;
    color: #303030;
    line-height: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
}
.woocommerce div.product form.cart .extra-options .select-style.black {
    color: #fff;
    float: none;
    border: none;
    border-bottom: 1px solid #6d6d6d;
    background-color: transparent;
    width: 100%;
}
.woocommerce div.product form.cart .extra-options .select-style.black.border-dark {
	color: #303030;
    display: inline-block;
    border-bottom: 1px solid #a7abad;
    max-width: 258px;
    width: 100%;
}
.woocommerce div.product form.cart .extra-options .select-style:after {
    color: #a7abad;
    content: "\e903";
    font-family: 'icomoon01' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    pointer-events: none;
    right: 0.75em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1000;
}
/*Extra Options*/
table.extra-options, table.extra-options tbody, table.extra-options tbody tr {
    display: block;
}
.woocommerce div.product form.cart table.extra-options td {
    display: block;
    padding: 0;
}
table.extra-options td.label > .label-tag {
    line-height: 1.15;
    font-size: .95rem;
}
.option_css_wraper {
    display: block;
}

.option_css_wraper td.label.leftside {
    display: block;
}

.option_css_wraper td.label.leftside {
    color: #000;
}

.woocommerce div.product form.cart table td label.label-tag.checkbox {
    padding-left: 0;
}

.woocommerce div.product form.cart table td label.label-tag.checkbox label.sublabel-tag {
    padding-left: 0;
}
table.extra-options tbody tr:not(:last-child) {
    margin-bottom: 1em;
}
.woocommerce div.product form.cart table.extra-options .option_css_wraper td label.label-tag.checkbox:not(:last-child) {
    display: inline-block !important;
    margin: 0 20px 10px 0 !important;
}
.woocommerce div.product form.cart .price .extra_option_price_text {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Roboto", 'Noto Sans Japanese', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
}
.woocommerce div.product form.cart .price .extra_option_price_text > span {
    display: inline-block;
    font-size: 1.2rem;
    padding-left: 10px;
	font-family: bebas_neue_regularregular;
}
.woocommerce div.product form.cart .price .extra_option_price_text {
    padding: 15px 20px;
    display: inline-block;
    margin-bottom: 15px;
    background: rgba(233,159,188,.15);
}
.cake-single-product-summary #wcuf_product_ajax_container .wcuf_spacer4 {
    height: 0px;
}
/*Cart Extra*/
.woocommerce .cart_item .product-name .attribute span.value {
    display: inline-block;
}

.woocommerce .cart_item .product-name .attribute span {
    font-size: 12px;
    line-height: 1.15;
}
@media (min-width: 768px) {
	figure.card_item span.del {
		min-height: 46px;
	}
	.banner-parallax .parallax-image {
    background-position: center 30% !important;
	}
	#slideshow-container.parallax-slider {
    max-height: 460px;
	}
	.navbar-fixed-top + #slideshow-container.parallax-slider {
    margin-top: 98px;
	}
	#latestNews .getPost {
    margin-bottom: 60px;
	}
	.cards_box {
    padding: 90px 60px 0;
    position: relative;
	margin: 0;
	}
	.cakeorder {
		padding-bottom: 90px;
	}
	#howOrder {
    background: #fafafa;
    padding-bottom: 90px;
	}
	
	.card_block_images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	}

.card_block_images .card_item_column {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 20px;
}
	.card_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	-webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.card_block > .card_block_text {
     -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
	.card_block > .card_block_images {
    width: 57%;
	}
	.navbar .container {
		width: 100%;
		max-width: 1170px;
	}
	.logo_brand {
    width: 160px;
	padding: 0 20px;
	}
	.mainmenu {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
	}
	.mainmenu li {
	text-align: center;
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
	}
	.nav-container {
    height: auto;
	}
	ul.cake-print.text-radio {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	}
	ul.cake-print.text-radio > li {
	float: none;
    margin: 0;
    display: block;
	}
	
}
@media (max-width: 1024px) {
	.card_block > .card_block_text, .card_block > .card_block_images {
		width: 100%;
	}
	.cards_box {
		padding: 60px 0;
	}
	.card_block_images .card_item_column {
		padding: 0 30px;
	}
	section.cakeorder .card_block_text {
		margin-top: 60px;
		padding: 0 30px;
	}
	.mid_card_box {
    padding: 60px 30px;
	}
	.mid_card_box .box_contain {
    margin: 0 auto;
    max-width: 580px;
	}
	.col-sm-3.cdocolumn.order_points {
    margin-top: 60px;
	}
	.col-sm-3.cdocolumn.order_points:nth-child(odd) {
    padding-right: 15px;
	}
	.col-sm-3.cdocolumn.order_points:nth-child(even) {
		padding-left: 15px;
	}
	#insta {
    padding-top: 30px;
    padding-bottom: 30px;
	}
	
}
@media only screen and (max-width: 991px) {
	.navbar-fixed-top + #slideshow-container.parallax-slider {
    margin-top: 40px;
	}
	.logo_brand.hidden-sm {
    display: none;
	}
	ul.mb-navigation li {
    border-bottom: 1px solid #e5e5e5;
	}
	ul.mb-navigation li:first-child {
		padding-top: 0;
	}
	ul.mb-navigation li a {
	padding: 1.45em 1.25rem;
	}
	.Header-navItemUser {
    margin-top: 0;
    border-top: none;
	}
	.float_contact {
    position: fixed;
    top: 60px;
    right: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	}
	.float_contact .round_icon_link {
	 margin-left: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(216,147,175,1);
    display: block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #FFF;
	}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	
}
@media only screen and (max-width: 991px) and (min-width: 480px) {
	.col-sm-3.cdocolumn.order_points {
    margin-bottom: 0px;
    width: 33.333%;
    float: none;
	}
}
@media (max-width: 767px) {
	.xs-hide {
		display: none !important;
	}
	.card_block_images > div:not(:last-child) {
    margin-bottom: 60px;
	}
	.col-sm-3.cdocolumn.order_points .border-ppink.point_inner:before {
		background: rgba(233,184,203,1);
	}
	.col-sm-3.cdocolumn.order_points .border-pylw.point_inner:before {
		background: rgba(244,229,112,1);
	}
	.col-sm-3.cdocolumn.order_points .border-pgrn.point_inner:before {
		background: rgba(207,225,174,1);
	}
	.select-datetime .question-form .row {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 30px;
	}
}
@media (max-width: 479px) {
	#omc-form .question-form li.m-input__radio {
    padding: 0;
}

#omc-form .question-form li.m-input__radio:not(:last-child) {
    margin-bottom: 15px;
}
	.pignose-calendar {
		width: 100%;
	}
	.question-form .dropdown select {
    font-size: 12px;
	}
	.question-form .m-input__radio:not(:last-child) {
    margin-bottom: 15px;
	}
	.question-form .m-input__radio {
    max-width: 100%;
	}
	.question-form ul.list-type li label h5 {
    font-size: 12px;
	}
	.text_helper {
    margin-bottom: 30px;
	}
	.question-form label.label {
    font-size: 12px !important;
    word-break: break-all;
    word-wrap: break-word;
    width: 100%;
	}
	.select-datetime .question-form .row ul.list-type li:last-child {
    margin-left: 0;
	}
	.question-form ul.list-type {
    display: block;
	}
	#omc-form .suboption_box ul.row li {
    padding: 0 15px;
	margin-bottom: 10px;
	}
	ul.macaron-color.text-radio.list-type.row {
    margin-left: -15px;
    margin-right: -15px;
	}
	ul.cake-message.text-radio.list-type li:first-child {
    width: 57px;
	}
	ul.cake-message.text-radio.list-type li:last-child {
	width: auto;
    max-width: 100%;
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
	}
	#omc-form .row .row li {
		margin: 0;
	}
	ul.list-type li:last-child {
    margin-left: 30px;
    margin-top: 0;
    clear: unset;
	}
	ul.round-icon-select {
    -webkit-justify-content: space-around;
    justify-content: space-around;
	}
	.navbar-fixed-top + #slideshow-container.parallax-slider {
    margin-top: 50px;
	}
	#slideshow-container.parallax-slider {
    max-height: 200px;
	}
	.banner-parallax, #slideshow-container.parallax-slider, #slideshow-container.parallax-slider .cake-slideshow, .boxed .banner-parallax, .boxed #slideshow-container.parallax-slider, .boxed #slideshow-container.parallax-slider .cake-slideshow {
    height: 100%;
	}
	.banner-parallax .parallax-image {
    background-position: center !important;
	}
	.carousel-indicators {
    display: none !important;
	}
	.cards_box h2 {
		font-size: 42px;
	}
	.col-sm-3.cdocolumn.order_points {
    width: 100%;
	}
	.col-sm-3.cdocolumn.order_points:nth-child(1), .col-sm-3.cdocolumn.order_points:nth-child(2) {
    margin-bottom: 0px;
	}
	.herobox {
    text-align: center;
    top: auto !important;
    left: auto !important;
    bottom: 60px;
    right: auto !important;
    width: calc(100% - 40px);
    padding: 30px;
    transform: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: visible;
    background: rgba(245,245,245,.8);
    position: absolute;
    max-width: 460px;
    margin: 0px auto;
	}
	.hero-title {
		font-size: 28px;
	}
	.cake-slideshow .parallax-text .parallax-table, .cake-slideshow .parallax-text .parallax-table .parallax-center {
    display: block;
    height: 100%;
	}
	.cake-slideshow .banner-parallax .container, .cake-slideshow .banner-parallax .container .row, .cake-slideshow .banner-parallax .container .row > div {
    height: 100%;
	}

}