@font-face {
  font-family: 'icomoon3';
  src:  url('fonts/icomoon3.eot?35a2j5');
  src:  url('fonts/icomoon3.eot?35a2j5#iefix') format('embedded-opentype'),
    url('fonts/icomoon3.ttf?35a2j5') format('truetype'),
    url('fonts/icomoon3.woff?35a2j5') format('woff'),
    url('fonts/icomoon3.svg?35a2j5#icomoon3') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconkitt-"], [class*=" iconkitt-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon3' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconkitt-kitt_icons_cake-size, .iconkitt-kitt_icons_cake-round:before, .iconkitt-kitt_icons_shape-round:before {
  content: "\e900";
}
.iconkitt-kitt_icons_cakesize:before {
  content: "\e901";
}
.iconkitt-kitt_icons_caketopper:before {
  content: "\e902";
}
.iconkitt-kitt_icons_candy:before {
  content: "\e903";
}
.iconkitt-kitt_icons_cheese:before {
  content: "\e904";
}
.iconkitt-kitt_icons_chocolate:before {
  content: "\e905";
}
.iconkitt-kitt_icons_cupcake:before {
  content: "\e906";
}
.iconkitt-kitt_icons_figure:before {
  content: "\e907";
}
.iconkitt-kitt_icons_flower:before {
  content: "\e908";
}
.iconkitt-kitt_icons_fruit:before {
  content: "\e909";
}
.iconkitt-kitt_icons_heartchoco:before {
  content: "\e90a";
}
.iconkitt-kitt_icons_icingcookie:before {
  content: "\e90b";
}
.iconkitt-kitt_icons_macaron:before {
  content: "\e90c";
}
.iconkitt-kitt_icons_msg-plate:before {
  content: "\e90d";
}
.iconkitt-kitt_icons_print:before {
  content: "\e90e";
}
.iconkitt-kitt_icons_shape-custom:before {
  content: "\e90f";
}
.iconkitt-kitt_icons_shape-heart:before {
  content: "\e910";
}
.iconkitt-kitt_icons_shape-square:before {
  content: "\e911";
}
.iconkitt-kitt_icons_shape-star:before {
  content: "\e912";
}
.iconkitt-kitt_icons_shortcake:before {
  content: "\e913";
}
.iconkitt-kitt_icons_sugarcoating:before {
  content: "\e914";
}

th.deco-group-label i {
    font-size: 30px;
    vertical-align: middle;
    padding-right: 10px;
}
th.deco-group-label {
    text-align: left;
    line-height: 30px;
    vertical-align: middle;
	padding: 1em 2em;
	border-top: 8px solid #f8f8f8;
	border-bottom: 1px solid #eee;
}
#order-detail-meta-box .inside {
    padding: 0;
}
table.order-detail-meta {
    border-collapse: collapse;
}
#order-detail-meta-box .inside table.order-detail-meta tbody tr td {
	padding: 8px;
	border-bottom: 1px solid #eee;
}
#order-detail-meta-box .inside table.order-detail-meta tbody tr td.col-left {
    padding-left: 2em;
	text-align: left;
    width: 20%;
}
#order-detail-meta-box .inside table.order-detail-meta tbody tr td.col-right {
    padding-right: 2em;
	text-align: left;
    width: 80%;
}
#order-detail-meta-box .inside table.order-detail-meta tbody tr.deco-tr td {
    border-bottom: 1px dashed #eee;
}
#order-detail-meta-box .inside table.order-detail-meta tbody tr#custom_order_msgplate_wraper td {
    border-top: 8px solid #f8f8f8;
}
#order-detail-meta-box .inside table.order-detail-meta tbody tr#custom_order_cakePic_wraper td {
    border-top: 8px solid #f8f8f8;
}
#custom_order_cakePic_wraper .col-right .acf-image-uploader {
    display: inline-block;
}
table.order-detail-meta .disabled {
    display: none;
}
.wp-list-table.widefat tfoot td, .wp-list-table.widefat th, .widefat thead td {
    text-align: left;
    line-height: 1.3em;
    font-size: 12px;
}
#woocommerce_dashboard_status .wc_status_list li.accepted-orders a:before {
    content: "\e012";
    color: #ffba00;
}
#woocommerce_dashboard_status .wc_status_list li.pending-orders a:before {
    content: "\e012";
    color: #ffba00;
}
.ultra-admin-addon_page_ultra_menumng_settings *, #wpadminbar, #wpadminbar *, .welcome-panel-content * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
#wpadminbar {
    color: #FFF;
    background: rgba(234,175,198,1);
}
.menu-expanded #wpadminbar {
    padding-left: 230px;
}
#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, #wpadminbar>#wp-toolbar span.noticon {
    color: #FFF;
}
#wpadminbar #adminbarsearch:before, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before {
    color: #FFF;
    color: rgba(255,255,255,1);
    position: relative;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
#adminmenu a {
    color: #ffffff;
}
#adminmenu a, #adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus, #adminmenu div.wp-menu-image:before, #ws_menu_editor .ws_item_title, #adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before {
    color: rgba(255,255,255,1.0) /*#ffffff*/;
}
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
    background-color: rgba(50,50,58,1.0);
}
body {
    background: rgba(241,242,247,1.0);
    color: #444;
    font-size: 13px;
    line-height: 1.4em;
    min-width: 600px;
}
#adminmenuwrap .logo-overlay {
    margin-top: -23px;
}
#adminmenuwrap .logo-overlay {
    position: absolute;
    top: 23px;
    left: 0px;
    z-index: 999;
    padding-top: 0px;
    background-color: transparent;
    opacity: 0;
}
#adminmenuwrap .logo-overlay, #adminmenuwrap:before, .folded #adminmenuwrap:before {
    content: " ";
    width: 100%;
    height: 69px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    padding-top: 15px;
    background-position: 0px 15px;
}
#adminmenuwrap:before, .folded #adminmenuwrap:before {
    background-color: rgba(234,175,198,1);
}
.menu-expanded #adminmenuwrap:before {
    background-image: url(images/admin-logo2.png) !important;
}
#adminmenu {
    margin-top: 0px;
}
#adminmenu div.wp-menu-image {
    height: 46px;
}
div.wp-menu-image:before{
	padding: 0;
}

.dashicons, .dashicons-before:before{
	line-height: 46px;
	/*width: 46px;*/
	height: 46px;
	text-align: center;
}
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
    width: 230px;
}
#wpcontent, #wpfooter {
    margin-left: 245px;
}
#adminmenu .wp-not-current-submenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu {
    min-width: 230px;
    box-shadow: 1px 3px 6px rgba(0,0,0,.10);
    -webkit-box-shadow: 1px 3px 6px rgba(0,0,0,.10);
    -moz-box-shadow: 1px 3px 6px rgba(0,0,0,.10);
    -o-box-shadow: 1px 3px 6px rgba(0,0,0,.10);
    -ms-box-shadow: 1px 3px 6px rgba(0,0,0,.10);
}
#adminmenu .wp-submenu {
    margin-bottom: 0px;
}
#adminmenu .wp-submenu {
    left: 230px;
}
#adminmenu li .awaiting-mod span, #adminmenu li span.update-plugins span {
    display: block;
    padding: 0;
}
#adminmenu .awaiting-mod, #adminmenu .update-plugins {
    display: inline-block;
    font-size: 9px;
    line-height: 16px;
    width: 16px;
    margin: -1px 0 0 2px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
}
#adminmenu div.wp-menu-image:before{
	color: #ffffff;
}

#adminmenu li:hover div.wp-menu-image:before, #adminmenu a:hover, #adminmenu li.menu-top>a:focus{
	color: #ffffff;	
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu{
	color: #ffffff;
}
#adminmenu .wp-submenu-head, #adminmenu a.menu-top, #adminmenu .wp-has-current-submenu ul>li>a, .folded #adminmenu li.menu-top .wp-submenu>li>a, #adminmenu .wp-not-current-submenu li>a, .folded #adminmenu .wp-has-current-submenu li>a, #collapse-menu {
    line-height: 46px;
    font-style: normal;
}
#adminmenu div.wp-menu-name {
    padding: 0;
}
#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus, #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
    background-color: rgba(227,118,160,1);
}
#adminmenu li.wp-menu-separator {
    height: 0;
    margin: 0;
}
#adminmenu a.menu-top:focus+.wp-submenu, .js #adminmenu .opensub .wp-submenu, .js #adminmenu .sub-open, .no-js li.wp-has-submenu:hover .wp-submenu {
    top: 0px;
}
#adminmenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, .folded #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
    padding: 3px 0 0px 0;
}
#adminmenu .wp-submenu li {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#adminmenu .wp-has-current-submenu ul>li>a, .folded #adminmenu li.menu-top .wp-submenu>li>a {
    padding: 0 0px 0 23px;
    margin-left: 10px;
    line-height: 40px;
    margin-bottom: 3px;
    border-left: 3px solid transparent;
}
#adminmenu .wp-not-current-submenu li>a, .folded #adminmenu .wp-has-current-submenu li>a {
    padding: 0 0px 0 0px;
    margin-left: 23px;
    line-height: 40px;
    margin-bottom: 3px;
    border-left: 3px solid transparent;
}
#adminmenu .wp-not-current-submenu li>a:hover, .folded #adminmenu .wp-has-current-submenu li>a:hover {
    padding-left: 14px;
    border-left: 3px solid #f95e44;
    background: #313131;
    color: #a9a9a9;
}
#adminmenu .wp-not-current-submenu li>a:hover, .folded #adminmenu .wp-has-current-submenu li>a:hover {
    color: rgba(174,178,183,1.0);
}
#adminmenu .wp-not-current-submenu li>a:hover, .folded #adminmenu .wp-has-current-submenu li>a:hover {
    background-color: rgba(33,32,38,1.0);
}
#adminmenu .wp-not-current-submenu li>a:hover, .folded #adminmenu .wp-has-current-submenu li>a:hover {
    border-left-color: rgba(227,118,160,1);
}
.folded #adminmenu li.menu-top .wp-submenu>li>a:hover, #adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:hover {
    background-color: rgba(33,32,38,1.0);
}
#adminmenu .opensub .wp-submenu li.current a, #adminmenu .wp-submenu li.current, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:focus, #adminmenu .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a, #adminmenu .wp-submenu a {
    color: rgba(174,178,183,1.0);
}
.folded #adminmenu li.menu-top .wp-submenu>li>a:hover, #adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:hover {
    border-left-color: rgba(227,118,160,1);
}
.postbox .hndle, .stuffbox .hndle, .welcome-panel h3, .settings_page_menu_editor .ui-dialog-titlebar {
    background-color: rgba(227,118,160,1);
}
.postbox .hndle, .stuffbox .hndle, .welcome-panel h3, .settings_page_menu_editor .ui-dialog-titlebar {
    color: rgba(255,255,255,1.0);
}
#wpadminbar #wp-admin-bar-wcp-contactform-menu .ab-items {
    background-color: rgba(227,118,160,1);
}
div#submitpost .dashicons, div#submitpost .dashicons-before:before {
    line-height: inherit;
    height: auto;
    padding: 0 5px 0 0;
}
#adminmenu .wcp-items {
    background-color: rgba(153,0,255,1);
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 9px;
    font-weight: 600;
    line-height: 17px;
    margin: 1px 0 0 5px;
    vertical-align: middle;
    z-index: 26;
}